{{ partial "default_head.html" . }}
<div class="list">
  <div class="row">
    <div class="col-md-9">
      <header class="page-title"><a href="{{ .Permalink }}">{{ .Title }}</a></header>
      {{ range (.Paginate .Data.Pages).Pages }}
      {{ .Render "li" }}
      <script type="text/javascript">var disqus_shortname = 'abhiesasblog';
      (function () { var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript'; s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      </script>
      {{ end }}
      {{ partial "pagination.html" . }}
    </div>
    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</div>
{{ partial "default_foot.html" . }}
