{{ partial "head.html" . }}
<div class="nine columns" id = "nine_blog_txt">
  <div>
    <h4>Section: {{ .Title }}</h4>
  </div>{{ range .Data.Pages.GroupByDate "2006" }}
  <article>
    <div><h5>{{ .Key }}</h5><div>
		<ul id="list">{{ range .Pages }}{{ .Render "li"}}{{ end }}</ul>
  </article>{{ end }}
</div>
{{ with .Site.DisqusShortname }}<script type="text/javascript">var disqus_shortname = {{ . }}; 
  (function () { var s = document.createElement('script'); 
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';s.async = true;  s.type = 'text/javascript';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);}());	
</script>{{ end }}
{{ partial "foot.html" . }}

          
  
            



