{{ partial "head.html" . }}
  <div id="layout" class="pure-g">
    <div class="content pure-u-1 pure-u-md-3-4">
      <a name="top"></a>
      <main>
        <div class="posts">
          <h1 id="title">Section: {{ .Title }}</h1>
          {{ range .Data.Pages.GroupByDate "2006" }}
            <h2>{{ .Key }}</h2>
            <ul id="list">
              {{ range .Pages }}
                {{ .Render "li"}}
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </main>
    </div>
  </div>
{{ partial "foot.html" . }}
