{{ partial "head.html" . }}
  <div id="layout" class="pure-g">
    <div class="content pure-u-1 pure-u-md-3-4">
      <a name="top"></a>
      <main>
        <div class="posts">
          <h1 id="title">Site {{ .Title }}</h1>
          {{ $data := .Data }}
          {{ range $key,$value := .Data.Terms.ByCount }}
            <h3><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> &nbsp; {{ $value.Count }} </h3>
          {{ end }}
        </div>
     </main>
    </div>
  </div>
{{ partial "footer.html" . }}
