{{ "<!-- ENTERING partial banner.html -->" | safeHTML }}
<div class="row" id="banner" role="banner">
  <div class="two columns" id="banner-inner-wrapper">
    <img id="logo" src="{{ "/img/logo.png" | absURL }}" title="Abhishek Pandey's Latest Logo" alt="Abhishek Pandey's Latest Logo (Leaf cut with small A)">
  </div>
  <div class="seven columns" id="banner_tagline">
    <h5>Abhishek Pandey's</h5>
    <h2>Dream Design Desire Develop</h2>
  </div>
  <div id="nav" class="three columns">
    <ul>{{ range .Site.Menus.main }}
      <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
    {{end}}</ul>
  </div>
</div>
{{ "<!-- LEAVING partial banner.html -->" | safeHTML }}
