<header class="site">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <span><sub style="vertical-align:bottom;">Dream Design Desire Develop</sub></span>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        {{ range .Site.Menus }}
          <ul class="nav navbar-nav navbar-right">
            {{ range . }}
              {{ if .HasChildren }}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {{ range .Children }}
                      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                  </ul>
                </li>
              {{ else }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </nav>
</header>
