      <div class="three columns" id = "sidebar">
        <div>
          <div>{{ with .Site.Params.gravatarHash }}<img src="https://www.gravatar.com/avatar/{{ . }}?s=200" alt="gravatar" style="border:none;">{{ end }}
            <h1>{{ .Site.Author.name }}</h1>{{ with .Site.Params.tagline }}<p>{{ . | markdownify }}</p>{{ end }}
          </div>
        </div>
        <div>
          <div><h2>Categories</h2></div>
          <div>
            <ul>
              <li>{{ with .Site.Params.github }}<a href="{{ . }}"><i class="fa fa-github-square fa-3x"></i></a>{{ end }}{{ with .Site.Params.bitbucket }}<a href="{{ . }}"><i class="fa fa-bitbucket-square fa-3x"></i></a>{{ end }}{{ with .Site.Params.linkedin }}<a href="{{ . }}"><i class="fa fa-linkedin-square fa-3x"></i></a>{{ end }}{{ with .Site.Params.googleplus }}<a href="{{ . }}"><i class="fa fa-google-plus-square fa-3x"></i></a>{{ end }}{{ with .Site.Params.facebook }}<a href="{{ . }}"><i class="fa fa-facebook-square fa-3x"></i></a>{{ end }}{{ with .Site.Params.twitter }}<a href="{{ . }}"><i class="fa fa-twitter-square fa-3x"></i></a>{{ end }}{{ with .Site.Params.youtube }}<a href="{{ . }}"><i class="fa fa-youtube-square fa-3x"></i></a>{{ end }}{{ if .Site.Params.rss }}<a href="{{ .RSSlink }}" type="application/rss+xml"><i class="fa fa-rss-square fa-3x"></i></a>{{ end }}</li>
            </ul>
          </div>
        </div>
        <div>
          <div><h2>Popular Post</h2></div>
          <div><h4><a href="{{ "/" | absURL }}">{{ if isset .Site.Params "home"}}{{ .Site.Params.home }}{{ else }}Blog{{ end }}</a></h4></div>
            {{ range .Site.Menus.main }}<div><h4><a href="{{ .URL | absURL }}">{{ .Name }}</a></h4></div>{{end}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <div><h2>Text Heading</h2></div>
          <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus. </p></div>
        </div>
        <div class="three columns">
          <div><h2>Text Heading</h2></div>
          <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus. </p></div>
        </div>
        <div class="three columns">
          <div><h2>Text Heading</h2></div>
          <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus. </p></div>
        </div>
        <div class="three columns">
          <div><h2>Text Heading</h2></div>
          <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus. </p></div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns" id = "copyright"><p>Copyright &copy; {{ .Now.Format "2006" }} <a href="{{ "/license/" | absURL }}">License</a>Powered by <a href="http://gohugo.io">Hugo</a>, <a href="http://www.zerotheme.com/zerogrid-a-simple-grid-system-for-responsive-design">zerogrid</a> and <a href="https://github.com/zyro/hyde-x">Hyde-X</a></p></div>
      </div>
    </div>
    {{ if isset .Site.Params "highlight" }}<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>{{ end }}
    <script src="{{ "/js/jquery.js" | absURL }}"></script>
    <script>
    jQuery(function($) {
    var open = false; 
    function resizeMenu() {
        if ($(this).width() < 480) {
            if (!open) {
                $("#menu-drink").hide();
            }
            $("#menu-button").show();
        }
        else if ($(this).width() >= 480) {
            if (!open) {
                $("#menu-drink").show();
            }
            $("#menu-button").hide();
        }
    } 
    function setupMenuButton() {
        $("#menu-button").click(function(e) {
            e.preventDefault();
            if (open) {
                // Hide the menu
                $("#menu-drink").fadeOut();
                $("#menu-button").toggleClass("selected");
            }
            else {
                $("#menu-drink").fadeIn();
                $("#menu-button").toggleClass("selected");
            }
            open = !open;
        });
    }
    $(window).resize(resizeMenu);
    resizeMenu();
    setupMenuButton();
});
    </script>
    {{ with .Site.Params.googleAnalytics }}
    <script>
    var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  {{ end }}
</body>
</html>
