      <div class="three columns" id = "sidebar">
        <div id="about_box">
          <div id="about_name_box"><h5>{{ .Site.Author.name }}</h5></div>
          <div id="about_gravatar_box">
            {{ with .Site.Params.gravatarHash }}
              <img src="https://www.gravatar.com/avatar/{{ . }}" alt="gravatar" style="border:none;">
            {{ end }}
          </div>
          <p>Abhishek Pandey is a technical integration architect, 
          on specialized on workflows, quality control with management. In 9 years,  
          he has scored industry giant clients and employers. He is a father of 
          a little angel, with whom he shares his birth date. He commits himself as a
          passionate husband and a loving son.</p>
        </div>
        <div id="social_box">
          <div id="social_name_box"><h5>Social Connect</h5></div>
          <div id="social_link_box"><ul>
          {{ with .Site.Params.github }}<li><a href="{{ . }}"><i class="fa fa-github-square fa-3x"></i></a></li>{{ end }}
          {{ with .Site.Params.bitbucket }}<li><a href="{{ . }}"><i class="fa fa-bitbucket-square fa-3x"></i></a></li>{{ end }}
          {{ with .Site.Params.linkedin }}<li><a href="{{ . }}"><i class="fa fa-linkedin-square fa-3x"></i></a></li>{{ end }}
          {{ with .Site.Params.googleplus }}<li><a href="{{ . }}"><i class="fa fa-google-plus-square fa-3x"></i></a></li>{{ end }}
          {{ with .Site.Params.facebook }}<li><a href="{{ . }}"><i class="fa fa-facebook-square fa-3x"></i></a></li>{{ end }}
          {{ with .Site.Params.twitter }}<li><a href="{{ . }}"><i class="fa fa-twitter-square fa-3x"></i></a></li>{{ end }}
          {{ with .Site.Params.youtube }}<li><a href="{{ . }}"><i class="fa fa-youtube-square fa-3x"></i></a></li>{{ end }}
          {{ if .Site.Params.rss }}<li><a href="{{ .RSSlink }}" type="application/rss+xml"><i class="fa fa-rss-square fa-3x"></i></a></li>{{ end }}
          </ul></div>
        </div>
        <div><div><h5>Site Status</h5></div>
          <div><p><a href="https://app.wercker.com/project/bykey/2668cc6276326acb21a6f536e2b24811"><img src="https://camo.githubusercontent.com/a342b537916c237000d75c799c76eea1cc303098/68747470733a2f2f6170702e776572636b65722e636f6d2f7374617475732f32363638636336323736333236616362323161366635333665326232343831312f6d" alt="wercker status" title="wercker status" data-canonical-src="https://app.wercker.com/status/2668cc6276326acb21a6f536e2b24811/m" style="max-width:100%;"></a></p></div>
        </div>
      </div>
    </div>
    <!--<div class="row" id="footer_msg">
      <div class="four columns footer_msg_box"><div><h4>More in Entertainment: </h4></div><div><p>Lorem ipsum dolor sit amet,</p></div></div>
      <div class="four columns footer_msg_box"><div><h4>More in Relegion:     </h4></div><div><p>Lorem ipsum dolor sit amet,</p></div></div>
      <div class="four columns footer_msg_box"><div><h4>More in General:      </h4></div><div><p>Lorem ipsum dolor sit amet,</p></div></div>
    </div>-->
    <div class="row" id="footer">
        <div class="twelve columns" id = "copyright">
          <p>Copyright &copy; by Abhishek Pandey {{ .Now.Format "2006" }}
          <br /><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"> Creative Commons Attribution 4.0 International License</a>.</p>
        </div>
    </div>
  </div>
  {{ if isset .Site.Params "highlight" }}<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>{{ end }}
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
  {{ with .Site.Params.googleAnalytics }}
  <script>var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {{ end }}
</body>
</html>
