{{ "<!-- ENTERING partial seo-og.html (open graph) -->" | safeHTML }}
{{ $baseurl := .Site.BaseURL }}
{{ if .IsPage }}
<!-- Required Open Graph Info -->
<meta property="og:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}" />
{{ with .Params.images }}{{ range first 6 . }}<meta property="og:image" content="{{ if in . "http" }}{{ . }}{{ else }}{{ $baseurl }}{{ . }}{{ end }}" />
{{ end }}
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<!-- Optional Open Graph Info -->
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}" />
<meta property="og:locale" content="{{ if .Params.locale }}{{ .Params.locale }}{{ else }}en_US{{ end }}" />
{{ with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{ with .Params.videos }}{{ range . }}
<meta property="og:video" content="{{ . }}" />
{{ end }}
{{ end }}
{{ with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{ if eq .Type "post" }}
<!-- Required Open Graph Info -->
<meta property="og:type" content="article" />
<!-- ARTICLE Open Graph Info -->
<meta property="article:published_time" content="{{ .PublishDate.Format $.Site.Params.ISO8601 }}"/>
<meta property="article:modified_time" content="{{ .Date.Format $.Site.Params.ISO8601 }}"/>
<meta property="article:author" content="https://www.facebook.com/rickcogley" />
<meta property="article:publisher" content="https://www.facebook.com/rickcogley" />
<meta property="article:section" content="{{ .Section }}" />
{{ with .Params.tags }}{{ range first 6 . }}<meta property="article:tag" content="{{ . }}" />
{{ end }}
{{ end }}
<!-- If it is part of a series, link to related articles -->
{{ $permalink := .Permalink }}
{{ $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}{{ range $name := . }}
    {{ $series := index $siteSeries $name }}
    {{ range $page := first 6 $series.Pages }}
        {{ if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
    {{ end }}
{{ end }}{{ end }}
{{ else if eq .Type "aboutpage" }}
<!-- PROFILE Open Graph Info -->
<meta property="profile:first_name" content="Rick" />
<meta property="profile:last_name" content="Cogley" />
<meta property="profile:username" content="rickcogley" />
<meta property="profile:gender" content="male" />
{{ end }}
{{ end }}
{{ "<!-- LEAVING partial seo-og.html -->" | safeHTML }}
{{ "<!-- ENTERING partial seo-schema.html -->" | safeHTML }}
{{ if .IsPage }}
{{ if eq .Type "post" }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "headline" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "en-US",
    "license" : "/license",
    "author" : "{{ .Params.author }}",
    "creator" : "{{ .Params.author }}",
    "accountablePerson" : "{{ .Params.author }}",
    "copyrightHolder" : "{{ .Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .PublishDate.Format $.Site.Params.ISO8601 }}",
    "dateModified" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "image" : {{ apply .Params.images "absURL" "." }},
    "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
}
</script>

{{ else if eq .Type "aboutpage" }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "Rick Cogley",
    "image" : {
        "@type" : "ImageObject",
        "author" : "{{ .Params.author }}",
        "contentLocation" : "Yokohama, Japan",
        "contentUrl" : "/img/rick-cogley-avatar-900x900.jpg",
        "thumbnailUrl" : "/img/rick-cogley-avatar-90x90.png",
        "datePublished" : "2014-09-25T09:27:27JST",
        "description" : "Photo taken by myself in Yokohama Japan.",
        "name" : "Rick Cogley Autumn 2014"
    },
    "description" : "Rick Cogley: helping people in Japan since 1987. Experienced technology manager. CEO and co-owner of eSolia Inc. Jogger and cyclist. Fluent in Japanese. Family man with Japanese wife and daughters. Pun-smith puzzle solver.",
    "nationality" : "USA",
    "jobTitle" : "CEO",
    "telephone" : "+81-3-6273-3501",
    "email" : "rick@cogley.info",
    "birthDate" : "1966-01-01",
    "birthPlace" : "Pittsburgh, PA, USA",
    "gender" : "Male",
    "affiliation" : {
        "@type" : "Organization",
        "legalName" : "eSolia Inc.",
        "foundingDate" : "1999-07-07",
        "email" : "info@esolia.co.jp",
        "telephone" : "+81-3-6273-3510",
        "logo" : "http://static.cogley.info/img/eSolia_Logo-500px.gif"
    },
    "address" : {
        "@type" : "PostalAddress",
        "addressLocality" : "Minato-ku",
        "addressRegion" : "Tokyo",
        "addressCountry" : "Japan",
        "postalCode" : "105-0003",
        "streetAddress" : "Sawa Bldg. 6F, Nishi-Shimbashi 2-2-2"
    },
    "url" : "http://rick.cogley.info",
    "sameAs" : [ "https://plus.google.com/+RickCogley",
        "http://twitter.com/rickcogley",
        "http://www.linkedin.com/in/rickcogley",
        "https://www.facebook.com/rickcogley",
        "http://500px.com/rickcogley",
        "http://flickr.com/rickcogley/",
        "https://instagram.com/rickcogley/",
        "http://www.youtube.com/user/rickcogley?sub_confirmation=1",
        "https://vimeo.com/rickcogley",
        "https://github.com/RickCogley",
        "https://www.pinterest.com/rickcogley/",
        "https://pinboard.in/u:rickcogley"]
}
</script>
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "AboutPage",
    "name" : "Rick Cogley's About Page",
    "author" : "{{ .Params.author }}",
    "datePublished": "{{ .PublishDate.Format $.Site.Params.ISO8601 }}",
    "dateModified" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
    "lastReviewed" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
    "reviewedBy" : "{{ .Params.author }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "en-US",
    "copyrightHolder" : "{{ .Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "accountablePerson" : "{{ .Params.author }}",
    "license" : "/license",
    "url" : "{{ .Permalink }}",
    "primaryImageOfPage" : {
        "@type" : "ImageObject",
        "author" : "{{ .Params.author }}",
        "contentLocation" : "Yokohama, Japan",
        "contentUrl" : "/img/rick-cogley-avatar-900x900.jpg",
        "thumbnailUrl" : "/img/rick-cogley-avatar-90x90.png",
        "datePublished" : "2014-09-25T09:27:27JST",
        "description" : "Photo taken by myself in Yokohama Japan.",
        "name" : "Rick Cogley Autumn 2014"
    },
    "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
}
</script>

{{ else if eq .Type "colophonpage" }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "WebPage",
    "name" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "headline" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "en-US",
    "author" : "{{ .Params.author }}",
    "creator" : "{{ .Params.author }}",
    "accountablePerson" : "{{ .Params.author }}",
    "copyrightHolder" : "{{ .Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "license" : "/license",
    "datePublished": "{{ .PublishDate.Format $.Site.Params.ISO8601 }}",
    "dateModified" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
    "url" : "{{ .Permalink }}",
    "image" : {{ apply .Params.images "absURL" "." }},
    "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
}
</script>

{{ else if eq .Type "licensepage" }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "WebPage",
    "name" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "headline" : "{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "en-US",
    "author" : "{{ .Params.author }}",
    "creator" : "{{ .Params.author }}",
    "accountablePerson" : "{{ .Params.author }}",
    "copyrightHolder" : "{{ .Params.author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .PublishDate.Format $.Site.Params.ISO8601 }}",
    "dateModified" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
    "url" : "{{ .Permalink }}",
    "image" : {{ apply .Params.images "absURL" "." }},
    "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
}
</script>


{{ end }}
{{ end }}
{{ "<!-- LEAVING partial seo-schema.html -->" | safeHTML }}
{{ "<!-- ENTERING partial seo-twittercard.html -->" | safeHTML }}
{{ $baseurl := .Site.BaseURL }}
{{ if .IsPage }}
<!-- Twitter Card data -->
<meta name="twitter:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}"/>
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"/>
<meta name="twitter:site" content="@rickcogley"/>
<meta name="twitter:domain" content="rick.cogley.info"/>
<meta name="twitter:creator" content="@rickcogley"/>
<meta name="twitter:url" content="{{ .Permalink }}">
{{ with .Params.images }}
<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:image:src" content="{{ if in (index . 0) "http" }}{{ index . 0 }}{{ else }}{{ $baseurl }}{{ index . 0 }}{{ end }}"/>
{{ else }}
	<meta name="twitter:card" content="summary"/>
{{ end }}
{{ end }}
{{ "<!-- LEAVING partial seo-twittercard.html -->" | safeHTML }}
{{ "<!-- ENTERING partial seo-googlenews.html -->" | safeHTML }}
{{ if .IsPage }}
{{ if eq .Type "post" }}
<!-- Output news_keywords taxonomy as Google news_keywords -->
{{ with .Params.news_keywords }}
	<meta name="news_keywords" content="{{ range $i, $kw := first 10 . }}{{ if $i }},{{ end }}{{ $kw }}{{ end }}" />
{{ end }}
{{ end }}
{{ end }}
{{ "<!-- LEAVING partial seo-googlenews.html -->" | safeHTML }}
{{ "<!-- ENTERING partial headend.html -->" | safeHTML }}
{{ .Site.Params.headercommentblock | safeHTML }}
{{ "<!-- LEAVING partial headend.html -->" | safeHTML }}
