<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.Social.Github }}
      <li><a href="http://github.com/abhiesa"><i class="fa fa-github"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Email }}
      <li><a href="mailto:abhiesa@outlook.com"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Twitter }}
      <li><a href="http://twitter.com/abhiesa"><i class="fa fa-twitter"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.LinkedIn }}
      <li><a href="http://linkedin.com/in/abhiesa"><i class="fa fa-linkedin"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Stackoverflow }}
      <li><a href="http://stackoverflow.com/abhiesa"><i class="fa fa-stack-overflow"></i></a></li>
    {{ end }}
  </ul>
</div>
