{{ partial "default_head.html" . }}
{{ "<!--ENTERING index.html -->" | safeHTML }}
      <div class="index">
        <div class="row">
          <div class="col-md-9">
    <article>
      <div>
        <h4>404 Not Found</h4>
        <div><p>What you're looking for isn't here, sorry!</p></div>
      </div>
      <h5><a href="http://abhiesa.github.io/">&larr; Click here to go back home</a></h5>
    </article>
          </div>
          <div class="col-md-3">
{{ partial "sidebar.html" . }}
          </div>
        </div>
      </div>
{{ "<!--EXITING index.html -->" | safeHTML }}
{{ partial "default_foot.html" . }}
